*{
  margin: 0;
  padding: 0;
}

.register-page{
  height: 100vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-box{
  border: 2px solid black;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
}

.registerForm{
  border: 2px solid black;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

#email{
  padding: 0.5rem;
}

#password,#confirmPassword{
  padding: 0.5rem;
}

#submit{
  padding: 0.5rem;
}
